
*{
	padding: 0px;
	margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family:'consolas'!important;
  
   
}

.container-fluid
{

  padding-left: 0rem!important;
  padding-right: 0rem!important;
  overflow: hidden!important;
}

a
{
  color: black!important;
}

#bar
{
    background-color: rgba(255, 230, 0, 0.856);
 
}


 nav ul li a:hover
  {
   font-size: 20px;
  }



.navbar-toggler-icon
{
 outline: none;

}


section
{  
	position: relative;
}


.sec-1
{

	width: 100%;
	height: 600px;
	padding: 40px 60px;
	background-image: url(photo.jpg);
	background-attachment: fixed; 
	background-size: cover;
	transition: .5s;
}


.hme
{
  
  letter-spacing: .3em;
  font-size: 30px;
  padding-left: 500px;
  margin: 100px ;

}

.prof
{
  font-size: 25px;
}



.sec-2
{  
  
	background-image: url(camera1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color:rgb(247, 247, 247);
  font-size: 30px;
	width: 100%;
	height: 400px;
	padding: 80px 120px;
	display: block;
	transition: .5s;

}
.abt
{ 
  letter-spacing: .3em;
  font-size: 30px;
  padding-left: 550px;
  margin: 10px;
}

.sec-3
{
  text-align: right!important;
	width: 100%!important;
	height: 600px!important;
	background-image: url(photo.jpg);
	background-attachment: fixed;
	background-size: cover;
  display: flex;
  transition: .5s;
}
 
 .wrapper
{
  align-items: center!important;
  display: flex;
  width: 150%!important;
  justify-content: space-around;
  


}
.wrapper .card1
{
width: 280px!important;
height: 350px;
padding:2rem 1rem!important;
position: relative;
display: flex;
align-items: flex-end;
box-shadow: 0px 7px 10px rgba(5,5,5,0.5)!important;
transition: 0.5s ease-in-out;
}
.wrapper .card2
{
width: 280px!important;
height: 350px;
padding:2rem 1rem!important;
position: relative;
display: flex;
align-items: flex-end;
box-shadow: 0px 7px 10px rgba(5,5,5,0.5)!important;
transition: 0.5s ease-in-out;
}


.wrapper .card3
{
width: 280px!important;
height: 350px;
padding:2rem 1rem!important;
position: relative;
display: flex;
align-items: flex-end;
box-shadow: 0px 7px 10px rgba(5,5,5,0.5)!important;
transition: 0.5s ease-in-out;
}



.sec-4
{   
  width: 100%;
	height: 500px;
	background-image: url(lap.jpeg);
	background-size: cover;
	transition: .5s;
  text-align: center!important;
}


.con
{
  top: -100%;
  left: 10%;
  margin: 0 ;
  text-align: center;
  display: inline-block;
  color: white;
  letter-spacing: .2em;
  font-size: 30px;
 
  z-index: 1000;
}

.info
{
padding-right: 350px;
  text-align: center!important;

  letter-spacing: .2em;
  font-size: 20px;
 
   text-align: right;
 
}

.sec-5
{
  width: 100%;
  height: 500px;
  font-size: 20px;
  padding: 30px 30px;
  transition: .5s;
  background-color: black;
  background-image: url(photo.jpg) ;
  background-size: contain;
  background-repeat: no-repeat;
  transition: .5s;
}

 

.box
{
  
    transition: .5s;
}



.box p
{
 
	font-size: 20px;
  padding-right: 100px;
	margin-top: 70px;
  text-align: right;

}


.box h1
{
	font-size: 30px;

	text-align: right;
}





    .login-box{
      width:300px;
      position: absolute;
      top: 40%;
      left: 40%;
      transform: translate(0%,-40%);
      color: white;

    }

    .login-box h1{
      top:75%;
      left:80%;
      height: 40px;
      width:98px;
      transform: translate(-50%,140%);
      float: left;
      font-size: 30px;
     
      padding:30px 10px;
      

    }

    .textbox{
      width: 100%;
      overflow: hidden;
      font-size: 10px ;
      padding: 12px ;
      transform: translate(70%,10%);
      margin:20px 30px;
      border-bottom: 1px solid white;
      margin-bottom: 2px ;

      
    }



     .textbox i{
      width:40px;
      float:left;
      text-align: center;
      padding: 5px;
     }

    .textbox input{
      border: none;
      outline: none;
      
      background: none;
      color: white;
      font-size: 13px;
      width: 50%;
      float: left;
      margin: 10px 3px;
      transform: translate(-10%,-10%);

    }

     .btn
     {
      width: 40%;
      background: none;
      border: 1px solid white;
      color: white;
      padding: 5px;
      font-size: 20px;
      cursor: pointer;
      transform: translate(50%,180%);
     

     }









@media screen and (max-width: 440px)
{

 
	
	

}

